{% extends "base.html" %}

{% block title %}Student Details{% endblock title %}

{% block body %}
<div class="container mt-5">
    <h2 class="text-center">Student Details</h2>
    <div class="card">
        <div class="card-header">
            <h4>{{ student.first_name }} {{ student.last_name }}</h4>
        </div>
        <div class="card-body">
            <p><strong>Registration Number:</strong> {{ student.registration_number }}</p>
            <p><strong>Roll Number:</strong> {{ student.roll_number }}</p>
            <p><strong>Attendance:</strong> {{ student.attendance }}%</p>
            <p><strong>CIE Marks:</strong> {{ student.cie_marks }}/20</p>
            <p><strong>Batch:</strong> {{ student.batch.name }}</p>
            <p><strong>Division:</strong> {{ student.division.name }}</p>
            <p><strong>Subjects:</strong></p>
            <ul>
                {% for subject in student.subjects.all %}
                    <li>{{ subject.subject_name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="text-center mt-4">
        <a href="{% url 'show_batch_data' %}" class="btn btn-info">View Batch</a>

        
    </div>
</div>
{% endblock body %}
